<!DOCTYPE html>
<html lang="fr">
        
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			crossorigin="" />
		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin=""></script>
		<script src="cluster/leaflet.markercluster-src.js"></script>
		<link rel="stylesheet" href="angular-md/angular-material.css">
		<link rel="stylesheet" href="cluster/MarkerCluster.css" />
		<link rel="stylesheet" href="cluster/MarkerCluster.Default.css" />
		<link type="text/css" rel="stylesheet" href="ressources/Page1.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
		<script src="leafletui/ui-leaflet.min.js"></script>
		<script src="angular/angular-simple-logger.js"></script>
		<script src="angular-md/angular-material.js"></script>
		<script src="angular-an/angular-animate.js"></script>
		<script src="angular-ar/angular-aria.js"></script>
		<script src="angular-sa/angular-sanitize.js"></script>
		<script src="angular-ro/angular-ui-router.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	</head>
	<body ng-app="angularApp" ng-controller="ctrl" ng-style="{'background-image':'url(ressources/background.jpg)'}">
        
		<form id="formulaire" ng-submit="submitForm()">
			<div id="Soin">
				<label for="soin">Nom du truc</label>
			</div>
            <div id="Cadres">
                <div layout="row" id="Infos">
					<md-input-container>
						<input name="pseudo" type="text" placeholder="Prénom ou Pseudo" ng-model="user.prenom">
					</md-input-container>
					
					<md-input-container>
						<input name="age" type="number" placeholder="Âge" ng-model="user.age" required>
					</md-input-container>
					
					<md-input-container>
						<md-select id="Sexe" ng-model="user.sexe" placeholder="Autre">
							<md-option value="user">Autre</md-option>
							<md-option value="homme">Homme</md-option>
							<md-option value="femme">Femme</md-option>
						</md-select>
					</md-input-container>
                </div>
				<div id="DateInput">
					<md-input-container>
						<label for="dateT">Jour du Test :</label>
						<md-datepicker name="dateT" type="date" ng-model="user.dateT" required></md-datepicker>
					</md-input-container>
					<md-input-container>
						<label for="dateR">Jour Résultat :</label>
						<md-datepicker name="dateR" type="date" ng-model="user.dateR"></md-datepicker>
					</md-input-container>
                </div>
				<div id="LabelRadio">
					<label>Test effectué pour la Covid-19:</label>
				</div>
				
				<div id="Radio">
					<md-radio-group ng-model="user.resulTest" layout="row">
						<md-radio-button value="RP-PCR">RP-PCR</md-radio-button>
						<md-radio-button value="Antigénique">Antigénique</md-radio-button>
						<md-radio-button value="Dépistage Salivaire">Dépistage Salivaire</md-radio-button>
						<md-radio-button value="Sérologiques">Sérologiques</md-radio-button>
					</md-radio-group>
				</div>
            </div>
            <div id="Cadres">
			<div id="Votes">
                <div name="attente">
                    <label id="LabelVote">Temps d'attentes :</label>
                    <div class="rating">
                    
                        <input id="a1" type="radio" name="attenteR" ng-model="user.attente" value="1" required> 
                        <label for="a1">1 star</label>
                        <input id="a2" type="radio" name="attenteR" ng-model="user.attente" value="2">
                        <label for="a2">2 stars</label>
                        <input id="a3" type="radio" name="attenteR" ng-model="user.attente" value="3">
                        <label for="a3">3 stars</label>
                        <input id="a4" type="radio" name="attenteR" ng-model="user.attente" value="4">
                        <label for="a4">4 stars</label>
                        <input id="a5" type="radio" name="attenteR" ng-model="user.attente" value="5">
                        <label for="a5">5 stars</label>
                        
                        <div class="stars">
                            <label for="a1" aria-label="1 star" title="1 star"></label>
                            <label for="a2" aria-label="2 stars" title="2 stars"></label>
                            <label for="a3" aria-label="3 stars" title="3 stars"></label>
                            <label for="a4" aria-label="4 stars" title="4 stars"></label>
                            <label for="a5" aria-label="5 stars" title="5 stars"></label>   
                        </div>
                    </div>        
                </div>
                <div name="prisecharge">
                    <label id="LabelVote">Prise en charge :</label>
                    <div class="rating">
                    
                        <input id="pc1" type="radio" name="prisechargeR" ng-model="user.prisecharge" value="1" required> 
                        <label for="pc1">1 star</label>
                        <input id="pc2" type="radio" name="prisechargeR" ng-model="user.prisecharge" value="2">
                        <label for="pc2">2 stars</label>
                        <input id="pc3" type="radio" name="prisechargeR" ng-model="user.prisecharge" value="3">
                        <label for="pc3">3 stars</label>
                        <input id="pc4" type="radio" name="prisechargeR" ng-model="user.prisecharge" value="4">
                        <label for="pc4">4 stars</label>
                        <input id="pc5" type="radio" name="prisechargeR" ng-model="user.prisecharge" value="5">
                        <label for="pc5">5 stars</label>
                        
                        <div class="stars">
                            <label for="pc1" aria-label="1 star" title="1 star"></label>
                            <label for="pc2" aria-label="2 stars" title="2 stars"></label>
                            <label for="pc3" aria-label="3 stars" title="3 stars"></label>
                            <label for="pc4" aria-label="4 stars" title="4 stars"></label>
                            <label for="pc5" aria-label="5 stars" title="5 stars"></label>   
                        </div>
                        
                    </div>
                </div>
			</div>
            </div>
            <div id="Cadres">
				<div id="Commentaire">
					<md-input-container>
						<label for="commentaire">Commentaire :</label>
						<textarea rows="2" cols="80" name="commentaire" placeholder="Un avis, une remarque..." ng-model="user.commentaire"></textarea>
					</md-input-container>
				</div>
			</div>
            <div>
				<div id="Submit">
					<md-button type="submit">Envoyer</md-button>
				</div>
            </div>
        </form>
		<script>	
			console.log("prout");
		</script>


	</body>

</html>	